*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    height: 12vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat';
    font-size: 1.125rem;
    letter-spacing: -0.54px;
    color: #9767A9;
    opacity: 1;
}

.menu{

    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

.search-box{

    background: url(/Fotos/Layer_3.png) no-repeat scroll 0.5rem 0.5rem;
    padding-left:2rem;
    font-family: 'Montserrat';
    font-size: 1.125rem;
    width: 13.5rem;
    height: 2.5rem;
    border: 0.2rem solid #9767A9;
    border-radius: 50rem;
    opacity: 1;
}
.main-section{

    height: 100vh;
    background: url(/Fotos/cabeludo.png) no-repeat center center;
    display:   flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-tittle{
    
    width: 33.5rem;
    text-align: left;
    font: normal normal 900 6.25rem/6.25rem "Playfair Display";
    color: #FFFFFF;
}

.main-text{

    width: 30rem;
    text-align: left;
    font: normal normal 100 2.5rem/3rem 'Montserrat'; 
    color: #FFFFFF;
}

.purple-box{
    
    height: 50vh;
    background-color: #9767A9;
    border: 0.05rem solid #707070;
    padding: 3rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.tittle-purple-box{
    
    width: 55rem;
    text-align: left;
    font: normal normal 900 4rem/5.4rem "Playfair Display";
    letter-spacing: 0px;
    color: #FFFFFF;

}

.text-purple-box{

    padding-top: 1rem;    
    width: 40.75rem;
    text-align: left;
    font: normal normal 100 1.5rem/1.9rem "Montserrat";
    letter-spacing: 0px;
    color: #FFFFFF;
}